.reports{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    top: 6rem;
    gap: 5rem;
    z-index: -1;
}

@media screen and (max-height: 885px) {
    .reports{
        top: 10rem;
    }    
}

@media screen and (max-height: 550px) {
    .reports{
        top: 12rem;
    }    
}