.navigation {
  position: fixed;
  width: 100%;
  padding: 5px;
  background-color: cornflowerblue;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.nav_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 25px;
  font-weight: bold;
  font-size: large;
}

.nav_list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: right;
  margin-right: 2rem;
}

.nav_bar .nav_list li a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.nav_bar .nav_list li a:visited {
  text-decoration: none;
}

.nav_bar .nav_list li a:hover,
.nav_bar .nav_list li:hover {
  color: rgb(255, 69, 0);
}

li {
  transition: transform 0.3s;
  cursor: pointer;
}

li:hover {
  transform: scale(1.2);
}

.open_menu {
  float: right;
}

.open_menu,
.close {
  display: none;
}

/* Responsive */

@media screen and (max-width: 550px) {

  .open_menu,
  .close {
    display: block;
  }

  .open_menu {
    position: relative;
    height: 2rem;
    width: 2rem;
  }

  .open_menu img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .close {
    float: right;
    margin-right: 0;
    color: white;
    font-weight: bold;
    background-color: #1c1c1c;
    height: 1.7rem;
    width: 2rem;
    scale: 1.2;
    border-radius: 5px;
    margin-bottom: 0.8rem;
  }

  ul {
    display: none;
  }

  .nav_bar {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #1c1c1c;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  }

  .nav_bar.visible {
    opacity: 1;
    visibility: visible;
  }

  .nav_list {
    flex-direction: column;
    align-items: flex-end;

  }

  .nav_bar .nav_list li a {
    color: #ecececec;
  }

}